server:
  port: 8080

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/jobtracker_db
    username: jobtracker
    password: jobtracker123
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: validate

  flyway:
    enabled: true

